$white: #FFFFFF;
$dark-navy: #18182B;
$secondary-color: #57B7C3;
$primary-color: #EA863D;
$additional-color: #6276EE;
$additional-color-2: #54CB51;
$link-color: #2F80ED;
$light-grey: #F5F7FC;

$transparent: rgba(73, 31, 31, 0);

$base-txt-color: #000000;
$txt-muted: #7D7D85;
$primary-dark: #232228;
$light-beige:#F9F9FA;
$footer-bg: $dark-navy;
$laund-section-bg: #FFF3EB;
$fraud-section-bg: #F0F2FE;
$game-section-bg: #EFF8F9;
$crm-section-bg: #EEFAEE;

$main-banner-bg: $dark-navy;

$btn-bg: $primary-color;

$txt-subtitle: $secondary-color;

