.page-info {
  padding: 64px 0 55px;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;

  @include sm-block {
    padding: 48px 0 34px;
    font-size: 18px;
  }

  h2,h3,h4 {
    font-weight: 400;
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 40px;
    @include sm-block {
      margin-bottom: 30px;
    }
  }

  address {
    font-weight: 300;
  }
}