$width: 26px;
$height: 20px;
$line-height: 2px;
$line-border-radius: 8px;
$bg-color: #FFF;
$show: 1100px;
$border-radius: 0;
$border:  none;

.toggle-menu {
	width: $width;
	height: $height;
	padding: 0;
	position: relative;
	cursor: pointer;
	border: $border;
	border-radius: $border-radius;
  outline: none;
	background: none;
	z-index: 55;
	//display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	@media (max-width: $show) {
		display: flex;
	}
	
	span {
		position: absolute;
		display: block;
		height: $line-height;
		width: $width;
		background-color: $bg-color;
		transition: all 0.2s;
		backface-visibility: hidden;
		border-radius: $line-border-radius;
		left: 0;
		&:nth-child(1) {
			top: 0%
		}

		&:nth-child(2) {
			top: 50%;
		}

		&:nth-child(3) {
			top: 100%
		}
	}

	&--on {
		span {
			&:nth-child(1) {
				top: 50%;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				transform: translate(500%, 0%);
			}

			&:nth-child(3) {
				top: 50%;
				transform: rotate(-45deg);
			}
		}
	}
}