.service-list {
  font-size: 18px;
  // .solution-list__item

  &__title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 24px;
  }

  &__item {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    position: relative;
    
    &:not(:last-child) {
      margin-bottom: 26px;

      @include xl (margin-bottom, 18px);
    }

    &:before {
      content: '';
      flex: 0 0 24px;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 24px;
      background: url(../img/ic-service-list-bullet.svg) no-repeat center / contain;
    }
  }
}

