@@include("../blocks/modules/head/head.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <main>
        <section class="banner main-banner main-banner-cover ">
            <div class="wrapper">
                <div class="main-banner__inner">
                    <p class="subtitle mb-5">Now you know</p>
                    <h1 class="main-banner__title">
                        <strong>Leading gambling service provider for:</strong> AML, FRAUD, Responsible Gaming, aCRM
                    </h1>
                    <button type="button" class="btn btn--primary">let’s talk</button>
                </div>
            </div>
        </section>
        <!-- banner -->
        <section id="about" class="about-section">
            <div class="wrapper">
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-6 mb-4 pb-3 pb-sm-0 mb-sm-5">
                        <h2 class="section-heading  mb-3">About Neccton</h2>
                        <p class="section-desc about-section__desc">Founded in Austria and privately owned. Over fifteen
                            years of experience in Data Science, AI and Big Data.<span class="font-weight-normal">
                                Leading gambling service provider for AML, aCRM, FRAUD, and Responsible Gaming</span>
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-5 order-1 order-sm-0 mb-0 mb-sm-5  pt-3 pt-sm-0 about-review-bg">
                        <div class="subtitle mb-4">customer reviews</div>
                        <div class="section-subtitle about-section__subtitle mb-0 mb-sm-3">What do our customers think
                            about us?</div>

                        <div class="feedback-slider">
                            <div class="feedback-slider-controls my-3 my-sm-0">
                                <button type="button" class="feedback-slider-btn feedback-slider-btn-prev">
                                    <svg class="slider-arrow slider-arrow--prev">
                                        <use xlink:href="img/svg/sprite.svg#ic-arrow"></use>
                                    </svg>
                                </button>
                                <button type="button" class="feedback-slider-btn feedback-slider-btn-next">
                                    <svg class="slider-arrow">
                                        <use xlink:href="img/svg/sprite.svg#ic-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="feedback-slider-track">
                                <div class="feedback-card">
                                    <div class="feedback-card__review">We work with Neccton because of their significant
                                        skills and experience in Responsible Gaming</div>
                                    <div class="feedback-card-customer">
                                        <picture class="feedback-card-customer__pic">
                                            <source srcset="img/feed/1.webp" type="image/webp">
                                            <img class="feedback-card-customer__photo" src="img/feed/1.jpg"
                                                alt="Anne Mattisen feedback">
                                        </picture>
                                        <div class="feedback-card-customer__name">Anne Mattisen</div>
                                        <div class="feedback-card-customer__company">Responsible Gaming Manager at
                                            Risktoto</div>
                                    </div>
                                </div> <!-- feedback-card -->
                                <div class="feedback-card">
                                    <div class="feedback-card__review">
                                        Norsk Tipping has collaborated with Dr. Michael Auer in several innovative
                                        research projects in the field of Responsible Gaming. He is an outstanding
                                        researcher and data scientist with extensive knowledge of both the field and the
                                        gaming industryм
                                    </div>
                                    <div class="feedback-card-customer">
                                        <picture class="feedback-card-customer__pic">
                                            <source srcset="img/feed/2.webp" type="image/webp">
                                            <img class="feedback-card-customer__photo" src="img/feed/2.jpg"
                                                alt="Anne Mattisen feedback">
                                        </picture>
                                        <div class="feedback-card-customer__name">
                                            Bjørn Helge Hoffmann
                                        </div>
                                        <div class="feedback-card-customer__company">
                                            Director Responsible Gaming, Norsk Tipping
                                        </div>
                                    </div>
                                </div> <!-- feedback-card -->
                                <div class="feedback-card">
                                    <div class="feedback-card__review">
                                        Neccton has been a key partner in our efforts to provide a safe and responsible
                                        gaming environment for our players, at scale. The collaboration between our
                                        engineering teams has been great from the start and we are looking forward to
                                        extending this collaboration to other areas of our Gambling operation
                                    </div>
                                    <div class="feedback-card-customer">
                                        <picture class="feedback-card-customer__pic">
                                            <source srcset="img/feed/3.webp" type="image/webp">
                                            <img class="feedback-card-customer__photo" src="img/feed/3.jpg"
                                                alt="Anne Mattisen feedback">
                                        </picture>
                                        <div class="feedback-card-customer__name">
                                            Dario Arruda
                                        </div>
                                        <div class="feedback-card-customer__company">
                                            CEO The Mill Adventure
                                        </div>
                                    </div>
                                </div> <!-- feedback-card -->
                                <div class="feedback-card">
                                    <div class="feedback-card__review">
                                        This is an important step for the UK business, by integrating a specialist RG
                                        system such as Neccton, www.admiralcasino.co.uk has added an extra layer of
                                        protection for our UK players. Importantly
                                    </div>
                                    <div class="feedback-card-customer">
                                        <picture class="feedback-card-customer__pic">
                                            <source srcset="img/feed/4.webp" type="image/webp">
                                            <img class="feedback-card-customer__photo" src="img/feed/4.jpg"
                                                alt="Anne Mattisen feedback">
                                        </picture>
                                        <div class="feedback-card-customer__name">Richard Poole</div>
                                        <div class="feedback-card-customer__company"> UK B2C Director, Greentube</div>
                                    </div>
                                </div> <!-- feedback-card -->
                                <div class="feedback-card">
                                    <div class="feedback-card__review">
                                        Norsk Tipping has collaborated with Dr. Michael Auer in several innovative
                                        research projects in the field of Responsible Gaming. He is an outstanding
                                        researcher and data scientist with extensive knowledge of both the field and the
                                        gaming industryм
                                    </div>
                                    <div class="feedback-card-customer">
                                        <picture class="feedback-card-customer__pic">
                                            <source srcset="img/feed/5.webp" type="image/webp">
                                            <img class="feedback-card-customer__photo" src="img/feed/5.jpg"
                                                alt="Anne Mattisen feedback">
                                        </picture>
                                        <div class="feedback-card-customer__name">Bjørn Helge Hoffmann</div>
                                        <div class="feedback-card-customer__company">Director Responsible Gaming, Norsk
                                            Tipping</div>
                                    </div>
                                </div> <!-- feedback-card -->
                            </div>
                        </div>

                    </div>
                    <div
                        class="col-12 col-lg-9  mb-4 pb-3 mb-sm-0 pb-sm-0 d-flex flex-wrap flex-sm-nowrap justify-content-between pt-3">
                        <div class="about-benefit mb-5 mb-sm-0">
                            <svg class="about-benefit__ic">
                                <use xlink:href="img/svg/sprite.svg#ic-data"></use>
                            </svg>
                            <p class="about-benefit__desc">Specialized on knowledge extraction from data</p>
                        </div>
                        <div class="about-benefit mb-5 mb-sm-0">
                            <svg class="about-benefit__ic">
                                <use xlink:href="img/svg/sprite.svg#ic-goal"></use>
                            </svg>
                            <p class="about-benefit__desc">Eager to meet tricky challenges</p>
                        </div>
                        <div class="about-benefit">
                            <svg class="about-benefit__ic">
                                <use xlink:href="img/svg/sprite.svg#ic-opportunity"></use>
                            </svg>
                            <p class="about-benefit__desc">Creative, dynamic and punctual</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section -->
        @@include("../blocks/modules/containers/home-page/services-solution/layout.html")

        <section id="numbers" class="numbers">
            <div class="wrapper">
                <div class="row mb-4 mb-lg-3">
                    <div class="col col-lg-5 ">
                        <h2 class="section-heading  mb-3 text-white">Interesting numbers</h2>
                        <p class="section-subtitle text-white">The Neccton solution processes </p>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- row -->
                <div class="row pt-5 pt-sm-5">
                    <div class="mb-5 mb-md-0 py-5 py-md-0 col-6 col-md-3 d-flex justify-content-center">
                        <div class="number-block number-block-1">
                            <div class="number-block__num">10</div>
                            <div class="number-block__param">MILLION</div>
                            <span class="number-block__line"></span>
                            <div class="number-block__text">Players</div>
                            <span class="number-block__ring"></span>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="mb-5 mb-md-0 py-5 py-md-0 col-6 col-md-3 d-flex justify-content-center">
                        <div class="number-block number-block-2">
                            <div class="number-block__num">10</div>
                            <div class="number-block__param">Billion</div>
                            <span class="number-block__line"></span>
                            <div class="number-block__text">Transactions</div>
                            <span class="number-block__ring"></span>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="mb-5 mb-sm-0 py-5 py-md-0 col-6 col-md-3 d-flex justify-content-center">
                        <div class="number-block number-block-3">
                            <div class="number-block__num">20</div>
                            <div class="number-block__param">AMAZING</div>
                            <span class="number-block__line"></span>
                            <div class="number-block__text">Countries</div>
                            <span class="number-block__ring"></span>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="mb-5 mb-sm-0 py-5 py-md-0 col-6 col-md-3 d-flex justify-content-center">
                        <div class="number-block number-block-4">
                            <div class="number-block__num">25</div>
                            <div class="number-block__param">POPULAR</div>
                            <span class="number-block__line"></span>
                            <div class="number-block__text">Languages</div>
                            <span class="number-block__ring"></span>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- ./row -->
            </div>
            <!-- /.wrapper -->
        </section>
        <!-- about-section -->

        <section id="ref" class="ref">
            <div class="wrapper">
                <div class="row mb-4 mb-lg-5">
                    <div class=" col-12">
                        <h2 class="section-heading mb-3">References</h2>
                        <p class="section-subtitle">List all references</p>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- row -->
                <div class="row">
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-1.webp" type="image/webp">
                                <img src="img/ref/ref-1.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-2.webp" type="image/webp">
                                <img src="img/ref/ref-2.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-3.webp" type="image/webp">
                                <img src="img/ref/ref-3.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-4.webp" type="image/webp">
                                <img src="img/ref/ref-4.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-5.webp" type="image/webp">
                                <img src="img/ref/ref-5.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-6.webp" type="image/webp">
                                <img src="img/ref/ref-6.png" loading="lazy" alt="">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-7.webp" type="image/webp">
                                <img src="img/ref/ref-7.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-8.webp" type="image/webp">
                                <img src="img/ref/ref-8.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                </div>
                <div id="references" class="row collapse">
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-9.webp" type="image/webp">
                                <img src="img/ref/ref-9.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-10.webp" type="image/webp">
                                <img src="img/ref/ref-10.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-11.webp" type="image/webp">
                                <img src="img/ref/ref-11.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-12.webp" type="image/webp">
                                <img src="img/ref/ref-12.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-13.webp" type="image/webp">
                                <img src="img/ref/ref-13.png" loading="lazy" alt="">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-14.webp" type="image/webp">
                                <img src="img/ref/ref-14.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-15.webp" type="image/webp">
                                <img src="img/ref/ref-15.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-16.webp" type="image/webp">
                                <img src="img/ref/ref-16.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-17.webp" type="image/webp">
                                <img src="img/ref/ref-17.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-18.webp" type="image/webp">
                                <img src="img/ref/ref-18.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-19.webp" type="image/webp">
                                <img src="img/ref/ref-19.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-20.webp" type="image/webp">
                                <img src="img/ref/ref-20.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-21.webp" type="image/webp">
                                <img src="img/ref/ref-21.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-22.webp" type="image/webp">
                                <img src="img/ref/ref-22.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-23.webp" type="image/webp">
                                <img src="img/ref/ref-23.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                    <div class="ref__col col-6 col-md-3 p-0">
                        <div class="ref-item">
                            <picture>
                                <source srcset="img/ref/ref-24.webp" type="image/webp">
                                <img src="img/ref/ref-24.png" alt="" loading="lazy">
                            </picture>
                        </div>
                        <!-- /.ref-item -->
                    </div>
                    <!-- /.col-6 col-sm-3 p-0 -->
                </div>
                <button type="button" data-target="references" class="link mt-5 d-inline-block js-collapse">
                    <span>See more</span>
                    <svg class="link-arrow">
                        <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
                    </svg>
                </button>
        </section>
        <!-- ref -->

        <section id="research" class="research">
            <div class="wrapper">
                <div class="row justify-content-between">
                    <div class="col-12 research__title">
                        <h2 class="section-heading">Research</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-5 mb-5 mb-md-0 pr-md-5">
                        <p class="section-desc section-desc--m mb-5">Over the last ten years Dr. Michael Auer
                            from Neccton has published more studies in the area of player tracking than anybody
                            else.<span class="font-weight-normal"> Over the last ten years Dr. Michael Auer from Neccton
                                has published more studies in the area of player tracking than anybody else. We
                                specialize in studies with data from real-world operators and real-world gamblers and
                                cooperate with companies such as Norsk Tipping, Rikstoto, Comeon Group, Kindred and many
                                more.</span>
                        </p>
                        <p class="section-desc section-desc--m font-weight-normal mb-5">
                            Our research is ongoing and we suggest you visit us regularly to keep informed about our
                            latest publications
                        </p>
                        <a href="https://www.researchgate.net/profile/Michael_Auer4" class="research-link"
                            target="_blank">
                            <picture>
                                <source srcset="img/ic-link-researh.webp" type="image/webp">
                                <img src="img/ic-link-researh.png" alt="researchgate Michael_Auer4" loading="lazy">
                            </picture>
                        </a>
                    </div>
                    <div class="col-12 col-md-7 border-left align-self-start">
                        <div class="researches decor-border pb-4 px-md-5">
                            <div class="research-item researches__item">
                                Cognitive dissonance, personalized feedback... International Journal of Mental Health
                                and Addiction, 16(3),631-641.<span class="research-item__sub-txt"> Auer, M., &
                                    Griffiths, M. D. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                Global Limit Setting as a Responsible ... International Journal of Mental Health and
                                Addiction, 1-13.<span class="research-item__sub-txt"> Auer, M., Reiestad, S. H., &
                                    Griffiths, M. D. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                A brief overview of the Austrian gambling regulation and... Gaming Law Review, 22(9),
                                564-567.<span class="research-item__sub-txt"> Malischnig, D., Griffiths, M. D., & Auer,
                                    M. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                The effect of loss-limit reminders on gambling behavior... Journal of Behavioral
                                Addictions, 1-12.
                                <span class="research-item__sub-txt"> Auer, M., & Griffiths, M. D. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                Personalized Behavioral Feedback for Online. Journal of frontiers in Psychology, DOI
                                10.3389/fpsyg.2016.01875<span class="research-item__sub-txt"> Auer, M. & Griffiths, M.
                                    D. (2016).</span>
                            </div>
                            <!-- /.research-item -->
                        </div>
                        <div id="researches" class="researches collapse flex-column px-md-5">
                            <div class="research-item researches__item">
                                Cognitive dissonance, personalized feedback... International Journal of Mental Health
                                and Addiction, 16(3),631-641.<span class="research-item__sub-txt"> Auer, M., &
                                    Griffiths, M. D. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                Global Limit Setting as a Responsible ... International Journal of Mental Health and
                                Addiction, 1-13.<span class="research-item__sub-txt"> Auer, M., Reiestad, S. H., &
                                    Griffiths, M. D. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                A brief overview of the Austrian gambling regulation and... Gaming Law Review, 22(9),
                                564-567.<span class="research-item__sub-txt"> Malischnig, D., Griffiths, M. D., & Auer,
                                    M. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                The effect of loss-limit reminders on gambling behavior... Journal of Behavioral
                                Addictions, 1-12.
                                <span class="research-item__sub-txt"> Auer, M., & Griffiths, M. D. (2018).</span>
                            </div>
                            <!-- /.research-item -->
                            <div class="research-item researches__item">
                                Personalized Behavioral Feedback for Online. Journal of frontiers in Psychology, DOI
                                10.3389/fpsyg.2016.01875<span class="research-item__sub-txt"> Auer, M. & Griffiths, M.
                                    D. (2016).</span>
                            </div>
                            <!-- /.research-item -->
                        </div>
                        <button type="button" data-target="researches"
                            class="link ml-md-5 mt-5 d-inline-block js-collapse">
                            <span>See more</span>
                            <svg class="link-arrow">
                                <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.research -->

        <section id="news" class="news-preview">
            <div class="wrapper">
                <div class="row justify-content-between align-items-center  news-preview__title">
                    <div class="col">
                        <h2 class="section-heading">News</h2>
                    </div>
                    <div class="col-auto">
                        <a href="/news.html" class="link">
                            <span>See all</span>
                            <svg class="link-arrow hide-sm">
                                <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div id="slider" class="news-slider">
                    <div class="news-slider-slide mb-5 mb-sm-0">

                        <div class="news-card">
                            <div class="news-card__img">
                                <a href="/news/1.hrml">
                                    <picture>
                                        <source srcset="img/news/item-1.webp" type="image/webp">
                                        <img src="img/news/item-1.jpg" alt="" loading="lazy">
                                    </picture>
                                </a>
                            </div>
                            <div class="news-card__body">
                                <div class="news-card__date">18 JUN 2020</div>
                                <div class="news-card__title">THE EFFECTS OF PERSONALIZED FEEDBACK</div>
                                <div class="news-card__description">
                                    A recent publication with Swedish online players has shown the effectiveness of
                                </div>
                                <a href="/news/1.hrml" class="link">
                                    <span>See more</span>
                                    <svg class="link-arrow">
                                        <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="news-slider-slide mb-5 mb-sm-0">

                        <div class="news-card">
                            <div class="news-card__img">
                                <a href="/news/3.hrml">
                                    <picture>
                                        <source srcset="img/news/item-3.webp" type="image/webp">
                                        <img src="img/news/item-3.jpg" alt="" loading="lazy">
                                    </picture>
                                </a>
                            </div>
                            <div class="news-card__body">
                                <div class="news-card__date">10 MAR 2020</div>
                                <div class="news-card__title">SPEAKING OF CUSTOMER INTERACTION</div>
                                <div class="news-card__description">
                                    We are happy to announce that SkillonNet chooses neccton as their Safer Gambling
                                    Provider
                                </div>
                                <a href="/news/3.hrml" class="link">
                                    <span>See more</span>
                                    <svg class="link-arrow">
                                        <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="news-slider-slide mb-5 mb-sm-0">

                        <div class="news-card">
                            <div class="news-card__img">
                                <a href="/news/2.hrml">
                                    <picture>
                                        <source srcset="img/news/item-2.webp" type="image/webp">
                                        <img src="img/news/item-2.jpg" alt="" loading="lazy">
                                    </picture>
                                </a>
                            </div>
                            <div class="news-card__body">
                                <div class="news-card__date">14 AUG 2020</div>
                                <div class="news-card__title">A COMPARISON OF CASINO PLAYERS AND SPORTS CASINO</div>
                                <div class="news-card__description">
                                    In this study with players from LeoVegas, the differences in behavior between two
                                    groups of two groups of
                                </div>
                                <a href="/news/2.hrml" class="link">
                                    <span>See more</span>
                                    <svg class="link-arrow ">
                                        <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="news-slider-slide hide-sm">

                        <div class="news-card">
                            <div class="news-card__img">
                                <a href="/news/1.hrml">
                                    <picture>
                                        <source srcset="img/news/item-1.webp" type="image/webp">
                                        <img src="img/news/item-1.jpg" alt="" loading="lazy">
                                    </picture>
                                </a>
                            </div>
                            <div class="news-card__body">
                                <div class="news-card__date">18 JUN 2020</div>
                                <div class="news-card__title">THE EFFECTS OF PERSONALIZED FEEDBACK</div>
                                <div class="news-card__description">
                                    A recent publication with Swedish online players has shown the effectiveness of...
                                </div>
                                <a href="/news/1.hrml" class="link">
                                    <span>See more</span>
                                    <svg class="link-arrow">
                                        <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.wrapper -->
        </section>
        <!-- /.news-preview -->
        <section id="getInTouch" class="get-in-touch git-section-cover">

            <div class="wrapper">
                <div class="row justify-content-between get-in-touch__row">
                    <div class="col-12 col-md-6 col-lg-5 d-flex align-items-end get-in-touch__title">
                        <h2 class="section-heading section-heading--white section-heading--lg px-4 px-sm-0">
                            Get in touch with us
                        </h2>
                    </div>
                    <div class="cf get-in-touch__form">
                        <p class="cf__title">Let’s talk</p>
                        <form class="cf-form" id="js-form-contacts">
                            <!--  was-validated -->
                            <div class="form-group cf-form__form-group">
                                <label for="inputText" class="font-weight-bold mb-2 d-inline-block">Name</label>
                                <input type="text" class="form-control" id="inputText" name="name"
                                    aria-describedby="nameHelp" placeholder="Enter your name" required />
                                <div class="invalid-feedback">
                                    Please choose a Name.
                                </div>
                            </div>
                            <div class="form-group cf-form__form-group">
                                <label for="inputEmail" class="font-weight-bold mb-2 mb-2 d-inline-block">Email</label>
                                <input type="email" name="email" class="form-control" id="inputEmail"
                                    aria-describedby="emailHelp" placeholder="Please enter your email" required />
                                <div class="invalid-feedback">
                                    Please choose a email.
                                </div>
                            </div>
                            <div class="form-group cf-form__form-group">
                                <label for="formControlTextarea"
                                    class="font-weight-bold mb-2 mb-2 d-inline-block">Message</label>
                                <textarea class="form-control" id="formControlTextarea" name="text" rows="3"
                                    placeholder="Write here your message"></textarea>
                            </div>
                            <button type="submit" class="btn btn--full">send</button>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>