.news-preview {
  background-color: #fff;
  padding: 100px 0 145px;
  @include md(padding, 100px 0);
  @include sm(padding, 64px 0 90px);

  &__title {
    margin-bottom: 54px;
    @include sm(margin-bottom, 75px);
  }
  //.news-preview__title
}



.news-slider {

  .slick-track {
    padding: 15px 0;
  }

  .slick-list {
    margin: 0 -15px;
  }
  .slick-slide {
    padding: 0 15px;
  }

  @include md-block {
    @include slick-flex();
  }

  &-slide {
    height: 100%;
  }

}