.social {
  display: flex;
}

.social-item {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;

  &:not(:last-child) {
    margin-right: 16px;
  }

  @include hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &--fb {
      background-image: url('../img/ic-social-fb.svg');
      background-size: 20%;
  }
  &--in {
      background-image: url('../img/ic-social-in.svg');
  }
  &--you {
      background-image: url('../img/ic-social-you.svg');
  }
}
