<div class="news-card">
  <div class="news-card__img">
      <a href="/news/1.hrml">
          <picture>
              <source srcset="img/news/item-1.webp" type="image/webp">
              <img src="img/news/item-1.jpg" alt="" loading="lazy">
          </picture>
      </a>
  </div>
  <div class="news-card__body">
      <div class="news-card__date">18 JUN 2020</div>
      <div class="news-card__title">THE EFFECTS OF PERSONALIZED FEEDBACK</div>
      <div class="news-card__description">
          A recent publication with Swedish online players has shown the effectiveness of
      </div>
      <a href="/news/1.hrml" class="link">
          <span>See more</span>
          <svg class="link-arrow">
              <use xlink:href="img/svg/sprite.svg#ic-arrow-link"></use>
          </svg>
      </a>
  </div>
</div>