
.subtitle {
  color: $txt-subtitle;
  text-transform: uppercase;
  font-size: rem(20);
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.font-weight-normal {
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.section-heading {
  color: $primary-dark;
  font-size: rem(40);
  font-weight: 600;
  letter-spacing: 1px;

  &:before {
    content: '';
    display: block;
    width: 64px;
    height: 4px;
    border-radius: 100px;
    background-color: $primary-color;
    margin-bottom: 8px;
  }
}

.section-subtitle{
  font-weight: normal;
  font-size: rem(20);
  @include sm (font-size, rem(24))
}
// .section-subtitle

.section-desc {
  font-weight: 300;
  font-size: rem(32);
  
  &--m {
    font-size: rem(24);
    line-height: 1.6;
    @include sm (font-size, rem(20))
  }
}

.txt-muted {
  color:  $txt-muted;
}